body {
    background-color: #cafaec;
    font-family: monospace;
    font-size: medium;
}

h1 {
    color: #fc3dc9;
}

heading {
    color: red;
}

a {
    color: #fc3dc9;
    text-decoration: none;
}